h1 {
    color: red;
    text-align: center;
}
.bleu{color: blue;}
.jaune{color:yellow}
.jaune{
    color:yellow;
}
h3{
    font-size: 80px;
    text-align: center;
}
p {
    background-color: pink;
    color: white;
    width: 50%;
    margin:auto;
}